@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Diplomata+SC&family=K2D:wght@100;200;300&family=Open+Sans:wght@600&family=Poppins&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300&display=swap');
/* reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{/*variaveis*/
    --text: #0a0623;
    --background: #DFEBFF;
    --background2: #c9ddfd;
    --primary: #1a6da8;
    --secondary: #a394fa;
    --accent: #57b41d;
    --textdarktheme: #e0dcf9;
    --backgrounddarktheme: #021636;
    --backgrounddarktheme2: #021636;
    --primarydarktheme: #57aae5;
    --secondarydarktheme: #14056b;
    --accentdarktheme: #85e24b;
}
.caixa{
    display:flex;
    flex-direction: column;
    width: 100%;
    height:35vh;
    align-items: center;
    justify-content: space-evenly;
}
.caixa2{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
}

body{
    background-color: var(--background);
    padding: 10px;
    display: flex;
    cursor: crosshair;
}
header{
    min-width: 55px;
    width: 6vw;
    height: calc(100vh - 20px);
    background-color: var(--background2);
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.4vw;
}
main{
    margin-left: 1vw;
    width: 100vw;
    height: calc(100vh - 20px);
    background-color: var(--background2);
    border-radius: 8px;
    padding:1vw 1.6vw;
    display:flex;
    align-items:center;
    justify-content: space-between;
    position:relative;
}
.linha1{
    width:100%;
    border:2px solid var(--background);
    position:absolute;
    left:0;
}
.linha2{
    height:100%;
    border:2px solid var(--background);
    position:absolute;
    left:50%;
}

#canvas2{  
    transform: rotate(-90deg);
    width: 500px;
    position:absolute;
    top: -100px;
    height: 800px;
}
.controle{
    height:100%;

}
.controle2{
    font-family:'Poppins', Courier, monospace;
    margin:2rem 0;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
label{
    display: inline-block;
}
.caixatrue{
    margin:1rem auto;
}
.container{
    padding:30px 5px; 
    position: relative;
    width: 80%;
    height:100%;
    background-color: #8cb6e0;
    border-radius:0.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}
.configuracao{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    padding: 4px;
    overflow-y: auto;
    cursor: default;
    position: relative;
    width: 18%;
    height:100%;
    background-color: #1a6da859;/*transparent*/
    border-radius:0.5vw;
}

span{
    margin: 1.1rem 0;
    font-family: "Poppins",sans-serif;
    font-size:0.8rem;   
}
/*header*/
.logo{
    width:2vw;
    height:2vw;
    border-radius:50%;
    margin-top: 1.3vw;
    cursor: pointer;
}
.btn{
    font-family: "Poppins",sans-serif;
    padding:.3rem .5rem;
    border-radius: 16px;
    border:inherit;
    width: 48%;
    background: whitesmoke;
    color:var(--primary);
    cursor: pointer;
    margin:1.5vw 8px;
}
.btn:hover{
    transition: 0.2s;
    background-color: #c9ddfd;
    color:black;
}
.btn:active{
    transform: scale(0.90);
}
.logo:hover{
    transition: 0.3s;
    transform: rotate(-360deg);
}
header a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1.9rem;
    padding: 0.53vw;
}
header a:hover{
    background: var(--primary);
}
.a,.b,.c,.d{
    width:1.2vw;
    height:1.2vw;
}
.info{
    width: 4.4vw;
    border-radius: 30px;
    background: var(--accent);
}
.adicional{
    margin-bottom:1.3vw;
}
/*main -> principal*/
.titulo{
    font-size: 1.35rem;
    font-family: "Poppins",sans-serif;
    font-weight:300;
    margin-bottom: 1.2vh;
}
.meubau{
    display:flex;
    flex-wrap: wrap;
}
.meubau a{
    margin: 0.5vw;
}
.s1,.s2,.s3{
    width: 21vw;
    height: 14vw;
    border-radius: 1vw;
    cursor: pointer;
}
.s1{
    background:var(--secondary);
}
.s2{
    background:var(--accent);
}
.s3{
    background:var(--primary);
}
input[type=range] {
    height: 2px;
}
span{
    margin:15px;
}
/*media querie for computers*/
@media only screen and (max-width:900px) {
    /*computers*/
    #s123 {
      max-width: 450px;
      max-height:350px;
      width: 160%;
      height:28vh;
    }
    .text p{
        font-size:1rem;
    }
    .text h1{
        font-size:1.3rem;
    }
    .logo{
        width:2rem;
        height:2rem;
    }
    .a, .b, .c, .d {
        width: 3vw;
        height: 3vw;
    }
  }
  /*media queries for mobile*/
 @media only screen and (max-width:600px) {
    #s123 {
        width: 160%;
        height:22vh;
        border-radius:13px;
        margin:3px;
    }
    .a, .b, .c, .d {
        width: 4vw;
        height: 4vw;
    }
    .image img{ 
        max-width: 113%;
        max-height: 113%;
    }
    .text {
        padding-left: 1.3rem;
        width: 60%;
    }
    .titulo{
        margin-bottom: 2px;
    }
 }