<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/simuladores.css">
    <link rel="stylesheet" href="../../assets/style.css">
    <title>SSI - Massa Mola</title>
  </head>
  <body onload="init();">
    <section class="blocoDeInformacao">
        <h2>Física</h2>
        <br>
        <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="imagem_info">
            
        </div>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ."</p>

        <h2>Matemática</h2>
        <br>
        <code></code>
        <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </section>
    <article class="pop_up_pai">
            <div class="pop_up_simuladores">
              <p>Olá, visitante. Para dar início a visualização do simulador aperte o botão "aplicar" ou pressione (Enter), caso esteja no computador</p>
                <button onclick="fechar_nuvem_simulador()" class="simuok">OK</button>
            </div>
    </article>
    <header>
        <!-- Todo o código do header/nav aqui...por favor -->
        <img src="../../model/icons/logo.png" alt="logo do site" class="logo">
        <div class="caixa">
          <a href="../../index.html"><img src="../../model/icons/a.png" class="a"></a>
            <a href="../calculadora.html"><img src="../../model/icons/b.png" class="b"></a>
            <a href="../informacoes.html"><img src="../../model/icons/c.png" class="c"></a>
        </div>
        <div class="adicional">
            <a href="#" class="info"><img src="../../model/icons/d.png" alt="link 4" class="d"></a>
        </div>
    </header>
    <main>

        <div class="container">
            <!-- Todo o código do main aqui...por favor -->
            <canvas width="500" height="800" id="canvas2"></canvas>
        </div>
        <div class="configuracao">
                <div class="t1">
                  <h6 class="sp">Linha:</h6>
                  <input type="number" id="tamCorda3" value="300" min="0" max="700"/>
                </div>
                <div class="t2">
                  <h6 class="sp">Variação:</h6>
                  <input type="number" id="angInicial3" value="20" min="1" max="89"/>
                </div>
                <div class="t3">
                  <h6 for="corfixo3">Cor:</h6>
                  <input type="color" id="corfixo3" value="#000000"/>
              </div>
            <div class="t4">
              <mark class="nuvem4">
                <p>Atualizações</p>
            </mark>
              <a href="../readme.html">
                <img src="../../model/icons/sino.png">
            </a>
            </div>
            <div class="t5">
              <button onclick="informacoes()">
                <mark class="nuvem5">
                  <p>Informações</p>
              </mark>
                   <img src="../../model/icons/info.png">
                </button>
            </div>
          

            <div class="t7"><button class="btn" onclick="desenharTela()">Aplicar</button></div>
            <div class="t8"><button class="btn" onclick="resetar()">Resetar</button></div>
            <div class="t6">
              <h6 class="np">Massa Mola<br>V 3.6</h6>
            </div> 
            <!-- <div class="controle2">
            <span>Velocidade:</span><br />
            <input type="radio" id="velocidade" name="velocidade" value="normal"/>
            <label for="normal">Normal</label><br />
            <input type="radio" id="velocidade" name="velocidade" value="devagar" />
            <label for="devagar">Devagar</label><br />
            </div> -->
        </div>
  </body>
 <script src="../../model/javascript/massamola.js"></script>
</html>
