<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/simuladores.css">
    <link rel="stylesheet" href="../../assets/style.css">
    <title>SSI - Massa Mola</title>
  </head>
  <body onload="init();">
    <header>
        <!-- Todo o código do header/nav aqui...por favor -->
        <img src="../../model/icons/logo.png" alt="logo do site" class="logo">
        <div class="caixa">
          <a href="../../index.html"><img src="../../model/icons/a.png" class="a"></a>
            <a href="../calculadora.html"><img src="../../model/icons/b.png" class="b"></a>
            <a href="../informacoes.html"><img src="../../model/icons/c.png" class="c"></a>
        </div>
        <div class="adicional">
            <a href="#" class="info"><img src="../../model/icons/d.png" alt="link 4" class="d"></a>
        </div>
    </header>
    <main>

        <div class="container">
            <!-- Todo o código do main aqui...por favor -->
            <canvas width="500" height="800" id="canvas2"></canvas>
        </div>
        <div class="configuracao">
            <div id="controle">
                <div class="caixa2">
                  <span>Linha:</span>
                  <input type="number" id="tamCorda3" value="300" min="0" max="700" onfocus="this.value='';"/>
                </div>
                <div class="caixa2">
                  <span>Variação:</span>
                  <input type="number" id="angInicial3" value="20" min="1" max="89" onfocus="this.value='';"/>
                </div>
                <div class="caixa2">
              <span>Cor da parede:</span>
              <input type="text" id="corfixo3" value="white"  onfocus="this.value='';"/>
            </div>
            <div class="caixa2">
              <span>Cor da Linha:</span>
              <input type="text" id="corLinha3" value="white"  onfocus="this.value='';"/>
            </div>
            <div class="caixa2">
              <span>Cor do Objeto:</span>
              <input type="text" id="corObj3" value="white"  onfocus="this.value='';"/>
            </div>
            
              <button class="btn" onclick="desenharTela()">Aplicar</button>
              <button class="btn" onclick="resetar()">Resetar</button>
            </div>
             <div class="controle2">
            <span>Velocidade:</span><br />
            <input type="radio" id="velocidade" name="velocidade" value="normal"/>
            <label for="normal">Normal</label><br />
            <input type="radio" id="velocidade" name="velocidade" value="devagar" />
            <label for="devagar">Devagar</label><br />
            </div>
        </div>
  </body>
 <script src="../../model/javascript/massamola.js"></script>
</html>
