<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/simuladores.css">
    <link rel="stylesheet" href="../../assets/style.css">
    <title>SSI - Pêndulo</title>
</head>
<body onload="init()">
    <article class="pop_up_pai">
            <div class="pop_up_simuladores">ola</div>
        </article>
    <header>
        <!-- Todo o código do header/nav aqui...por favor -->
        <img src="../../model/icons/logo.png" alt="logo do site" class="logo">
        <div class="caixa">
            <a href="../../index.html"><img src="../../model/icons/a.png" class="a"></a>
            <a href="../calculadora.html"><img src="../../model/icons/b.png" class="b"></a>
            <a href="../informacoes.html"><img src="../../model/icons/c.png" class="c"></a>
        </div>
        <div class="adicional">
            <a href="#" class="info"><img src="../../model/icons/d.png" alt="link 4" class="d"></a>
        </div>
    </header>
    <main>

        <div class="container">
            <!-- Todo o código do main aqui...por favor -->
            <canvas width="800" height="500" id="canvas"></canvas>
        </div>
        <div class="configuracao">
            <!-- Todo o código do main aqui...por favor -->
                    
                    <div class="t1">
                        <mark class="nuvem1">
                            <p>Comprimento<br>(200)</p>
                        </mark>
                        <h6 class="sp">Comprimento:</h6>
                        <input type="number" id="tamCorda" value="250" min="10" max="900">
                    </div>
                    <div class="t2">
                        <mark class="nuvem2">
                            <p>Angulo de Inicio<br>(20)</p>
                        </mark>
                        <h6 class="ap">Ângulo Inicial:</h6>
                        <input type="number" id="angInicial" value="20" min="1" max="89">
                    </div>
                    <div class="t3">
                        <h6 for="corfixo">Cor:</h6>
                        <input type="color" id="corfixo" value="#000000"/>
                    </div>
                    <div class="t4">
                       
                    </div>
                    <div class="t5"></div>
                    <div class="t6"></div>
                    <div class="t7">
                        <button class="btn" onclick="desenharTela()">Aplicar</button>
                    </div>
                    <div class="t8">
                        <button class="btn2" onclick="resetar()">Resetar</button>
                    </div>
                    
                   
            <!-- <div class="controle2">
                <span>Velocidade:</span><br />
                <div class="oi">
                    <input type="radio" id="velocidade" name="velocidade" value="normal" />
                    <label for="normal">Normal </label><br />
                </div>
                <div>
                    <input type="radio" id="velocidade" name="velocidade" value="devagar" />
                    <label for="devagar">Devagar</label><br />
                </div>
            </div> -->
        </div>
    </main>
    <script src="../../model/javascript/pendulo.js"></script>
</body>
</html>