<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/simuladores.css">
    <link rel="stylesheet" href="../../assets/style.css">
    <title>SSI - Sistema Solar</title>
</head>
<body>
    <section class="blocoDeInformacao">
        <!-- secao de informação -->
        <br>
        <h1 style="text-align:center;">Sistema Solar</h1>
        <br>
        <p>Finalmente o simulador do Sistema Solar!! Aqui, diferentemente dos outros simuladores, não temos que falar sobre MHS.<br><br>Sinta-se feliz, pois esse é o simulador mais recentemente lançado e com uma nova funcioanlidade: troca de cor defundo e visualização dos nomes e informações dos Planetas e Sol. <br><br>Fique a vontade para explorar.</p>
    
        <br>
        <h3>Sistema Solar</h3>

        <br>
        <p>O Sistema Solar é um conjunto formado por oito planetas e outros corpos celestes, que orbitam o Sol, a sua principal estrela.
        </p>
        <br>
        <img style="width:100%;"src="./img/solarpadrao.jpg">
        <br>
        <p>Veja essa incrivel animação do movimento helicoidal; tornou-se viral e teve muita atenção da mídia.</p>
        <br>
        <img style="width:100%;"src="./img/solar.gif">

        <br>
        <p>"O Sistema Solar está em movimento ao redor da Via Láctea, enquanto os planetas no Sistema Solar estão em movimento orbitando ao redor do Sol. Como resultado, de um observador fora do Sistema Solar, os planetas parecerão se mover em um movimento helicoidal." Isso é o que diz o artigo do site que visitei, o link esta mais embaixo, é o segundo das referências</p>

        <br>

        <p>
            Bom, esse simulador foi criado mais para demonstração do tempo que demora para um planeta circular o sol com uma velocidade muito mais acelerada, mas mantendo a análise real, isso é tudo...
        </p>
        <br>
        <h4>Você pode consultar tudo o que foi escrito aqui pelos seguintes links:</h4>
        <br>
        <a target="_blank" href="https://brasilescola.uol.com.br/geografia/sistema-solar.htm" style="font-size:0.7rem">SOUSA, Rafaela. "Sistema Solar"; Brasil Escola. Disponível em: https://brasilescola.uol.com.br/geografia/sistema-solar.htm. <span style="font-size:0.7rem;color:rgb(98, 0, 255);">Acesso em 20 de setembro de 2024.</span></a>
        <br>
        <a target="_blank" href="https://terraplana.ws/movimento-helicoidal"style="font-size:0.7rem">https://terraplana.ws/movimento-helicoidal<span style="font-size:0.7rem;color:rgb(98, 0, 255);"> Acesso em 18 de setembro de 2024.</span></a>
        <br>
        <a target="_blank" href="https://depositphotos.com/br/vectors/sistema-solar.html"style="font-size:0.7rem">https://depositphotos.com/br/vectors/sistema-solar.html<span style="font-size:0.7rem;color:rgb(98, 0, 255);"> Acesso em 18 de setembro de 2024.</span></a>
        
        <br>
    </section>
     <!-- ============================== -->
    <article class="pop_up_pai">
        <div class="pop_up_simuladores">
          <p>Olá, visitante! Seja bem vindo ao simulador do nosso sistema solar, aperte o botão "ok" e observe a simulação. Aproveite!!</p>
            <button onclick="fechar_nuvem_simulador()" class="simuok">OK</button>
        </div>
    </article>
    <!-- ============================== -->
    <header>
        <!-- Todo o código do header/nav aqui...por favor -->
        <div class="logo"><div></div></div>
        <div class="caixa">
            <a href="../../index.html" class="a1"><img src="../../model/icons/a.png" class="a"></a>
            <a href="../calculadora.html" class="a2"><img src="../../model/icons/b.png" class="b"></a>
            <a href="../informacoes.html" class="a3"><img src="../../model/icons/c.png" class="c"></a>
        </div>
        <div class="adicional">
            <a href="#" class="info"><img src="../../model/icons/d.png" alt="link 4" class="d"></a>
        </div>
    </header>
    <main>
        <div class="container_do_sistema_solar">
            <div class="sol"><button onclick="sol()"><mark class="solInfo"><p>Sol</p></mark></button></div>
            <div class="mercurio"><mark class="mercurioInfo"><p>Mercurio</p></mark></div>
            <div class="venus"><mark class="venusInfo"><p>Vênus</p></mark></div>
            <div class="terra"><mark class="terraInfo"><p>Terra</p></mark></div>
            <div class="marte"><mark class="marteInfo"><p>Marte</p></mark></div>
            <div class="jupiter"><mark class="jupiterInfo"><p>Jupiter</p></mark></div>
            <div class="anel_de_saturno">
                <div class="saturno"><mark class="saturnoInfo"><p>Saturno</p></mark></div>
            </div>
            <div class="urano"><mark class="uranoInfo"><p>Urano</p></mark></div>
            <div class="netuno"><mark class="netunoInfo"><p>Netuno</p></mark></div>
        </div>
        <!-- Todo o código do main aqui...por favor -->
        <!-- <div class="configuracao"> -->
             <!-- controle -->

        <!-- </div> -->
        <div class="configuracao" id="config">
            <!-- Todo o código do main aqui...por favor -->
                    
                    <!-- <div class="t1">
                        <mark class="nuvem1">
                            <p>Planetas totais: <br>(7)</p>
                        </mark>
                        <h6 class="sp">Planetas</h6>
                        
                    </div>
                    <div class="t2">
                        <mark class="nuvem2">
                            <p>Tempo em dias: <br>(365)</p>
                        </mark>
                        <h6 class="ap">Todo o tempo é baseado e</h6>
                        
                    </div> -->
                    <div class="t3">
                        <button id="theme_button" onclick="button()">
                            <img src="../../model/icons/paint.png">
                        </button>
                    </div>
                    
                    <div class="t5" style="background: #ff6a75">
                        
                        <button onclick="mostrarnomeplaneta()">
                            <img src="../../model/icons/planet.png">
                        </button>
                    </div>
                    <div class="t6" style="background: #f1f1f1b9">
                        <button onclick="informacoes()">
                            <img src="../../model/icons/info.png">
                        </button>
                    </div>
                    <div class="t4" style="background: #ffc535">
                        <mark class="nuvem4">
                            <p>Atualizações</p>
                        </mark>
                        <a href="../readme.html">
                            <img src="../../model/icons/sino.png">
                        </a>
                    </div>
                    <div class="t7">
                        <h6 class="np">Sistema Solar<br>V 2.6</h6>
                    </div>
                    <!-- <div class="t8">
                        
                    </div> -->
                    
                   
            <!-- <div class="controle2">
                <span>Velocidade:</span><br />
                <div class="oi">
                    <input type="radio" id="velocidade" name="velocidade" value="normal" />
                    <label for="normal">Normal </label><br />
                </div>
                <div>
                    <input type="radio" id="velocidade" name="velocidade" value="devagar" />
                    <label for="devagar">Devagar</label><br />
                </div>
            </div> -->
        </div>
    </main>
</body>
<script src="../../model/javascript/sistemasolar.js"></script>
</html>