.caixa{
    display:flex;
    flex-direction: column;
    width: 100%;
    height:35vh;
    align-items: center;
    justify-content: space-evenly;
}
.caixa2{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
}
main{
    margin-left: 1vw;
    width: 100vw;
    height: calc(100vh - 20px);
    border-radius: 8px;
    padding:1vw 1.6vw;
    display:flex;
    align-items:center;
    justify-content: center;
    position:relative;
}
.linha1{
    width:100%;
    border:2px solid var(--background);
    position:absolute;
    left:0;
}
.linha2{
    height:100%;
    border:2px solid var(--background);
    position:absolute;
    left:50%;
}

#canvas2{  
    transform: rotate(-90deg);
    width: 500px;
    position:absolute;
    top: -100px;
    height: 800px;
}
.controle{
    height:100%;

}
.controle2{
    font-family:'Poppins', Courier, monospace;
    margin:2rem 0;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
label{
    display: inline-block;
}

.container{
    padding:30px 5px; 
    position: relative;
    width: 80%;
    height:100%;
    border-radius:0.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}
.configuracao{
    display:flex;
    justify-content: space-between;
    backdrop-filter: blur(50px);
    width:65%;
    border-radius:6px;
    height:10vh;
    position:fixed;
    bottom:12px;
    background:#e0e0e080;
    padding:6px;
    gap:6px;
    z-index:9999!important;
}
.configuracao div{
    width:8vw;
    border-radius:4px;
    font-weight:300;
    height:100%;
    backdrop-filter: blur(50px);
    text-align:center;
    cursor:pointer;
}
.t1{
    background: #000813;
    color:#f9fbff;
}
.t2{
    background: #f9fbff;
}
.t3{
    background: #0c78ff;
}
.t4{
    background: #ff6a75;
}
.t5{
    background: #ffc535;
}
.t6{
    background: #cecdcf;
}
.t7{
    background: #ff6a75;
}
.t8{
    background: #0c78ff;
}
.configuracao h6{
    font-family: "Poppins",sans-serif;
    font-size:0.8rem;   
    font-weight: 300;
}
/*header*/
.logo{
    width:2vw;
    height:2vw;
    border-radius:50%;
    margin-top: 1.3vw;
    cursor: pointer;
}
.btn{
    font-family: "Poppins",sans-serif;
    padding:.3rem .5rem;
    border-radius: 16px;
    border:inherit;
    width: 48%;
    background: whitesmoke;
    color:var(--primary);
    cursor: pointer;
    margin:1.5vw 8px;
}
.btn:hover{
    transition: 0.2s;
    background-color: #c9ddfd;
    color:black;
}
.btn:active{
    transform: scale(0.90);
}
.logo:hover{
    transition: 0.3s;
    transform: rotate(-360deg);
}
header a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1.9rem;
    padding: 0.53vw;
}
header a:hover{
    background: var(--primary);
}
.a,.b,.c,.d{
    width:1.2vw;
    height:1.2vw;
}
.info{
    width: 4.4vw;
    border-radius: 30px;
    background: var(--accent);
}
.adicional{
    margin-bottom:1.3vw;
}
/*sistema solar*/
.container_do_sistema_solar{
    width:100%;
    display:flex;
    align-content:center;
    justify-content: center;
}
.sol{
    width:100px;
    height:100px;
    background:rgb(255, 174, 0);
    border-radius:50%;
}
.mercurio{
    margin-top:45px;
    position:absolute;
    width:10px;
    height:10px;
    background-image: linear-gradient(to bottom right,rgb(41, 40, 39), rgb(96, 12, 5));
    border-radius:50%;
    z-index:1;
    animation: translacaom infinite linear 6.3s;
}
/*ex: mercurio = 88 dias , converte para minutos e divide por dois*/
.venus{
    margin-top:45px;
    position:absolute;
    width:20px;
    height:20px;
    background-image: linear-gradient(to bottom right,rgb(213, 89, 0), rgb(172, 117, 15));
    border-radius:50%;
    z-index:1;
    animation: translacaov infinite linear 18.26s;
}
.terra{
    margin-top:42px;
    position:absolute;
    width:18px;
    height:18px;
    background-image: linear-gradient(to bottom right,rgb(0, 103, 213), rgb(15, 172, 15),rgb(0, 103, 213),rgb(0, 103, 213));
    border-radius:50%;
    z-index:1;
    animation: translacaot infinite linear 26.13s;
}
.marte{
    margin-top:40px;
    position:absolute;
    width:16px;
    height:16px;
    background-image: linear-gradient(to bottom right,rgb(213, 89, 0), rgb(172, 28, 15));
    border-radius:50%;
    z-index:1;
    animation: translacaomar infinite linear 49.1s;
}
.jupiter{
    margin-top:30px;
    position:absolute;
    width:36px;
    height:36px;
    background-image: linear-gradient(to bottom right,rgb(202, 202, 202), rgb(172, 112, 15),rgb(202, 202, 202));
    border-radius:50%;
    z-index:1;
    animation: translacaoj infinite linear  310.1s;
}
.anel_de_saturno{
    margin-top:30px;
    position:absolute;
    background: transparent;
    width:31px;
    z-index:2;
    height:12px;
    border-radius:50%;
    animation: translacaos infinite linear 712.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    border:4px solid rgb(169, 169, 169);
}
.saturno{
    width:17px;
    height:17px;
    background-image: linear-gradient(to bottom right,rgb(202, 202, 202), rgb(200, 153, 77),rgb(202, 202, 202));
    border-radius:50%;
}
.urano{
    margin-top:40px;
    position:absolute;
    width:23px;
    height:23px;
    background-image: linear-gradient(to bottom right, rgb(147, 188, 186),rgb(202, 202, 202));
    border-radius:50%;
    z-index:1;
    animation: translacaou infinite linear 2136.8s;
}
.netuno{
    margin-top:40.5px;
    position:absolute;
    width:22.5px;
    height:22.5px;
    background-image: linear-gradient(rgb(24, 38, 117),rgb(67, 98, 169));
    border-radius:50%;
    z-index:1;
    animation: translacaon infinite linear 4273.9s;
}
@keyframes translacaom{
    0%{
        transform: rotate(0deg) translate(60.8px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(60.8px) rotate(360deg);
    }
}
@keyframes translacaov{
    0%{
        transform: rotate(0deg) translate(85px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(85px) rotate(360deg);
    }
}
@keyframes translacaot{
    0%{
        transform: rotate(0deg) translate(115px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(115px) rotate(360deg);
    }
}
@keyframes translacaomar{
    0%{
        transform: rotate(0deg) translate(140px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(140px) rotate(360deg);
    }
}
@keyframes translacaoj{
    0%{
        transform: rotate(0deg) translate(170px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(170px) rotate(360deg);
    }
}
@keyframes translacaos{
    0%{
        transform: rotate(0deg) translate(210px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(210px) rotate(360deg);
    }
}
@keyframes translacaou{
    0%{
        transform: rotate(0deg) translate(245px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(245px) rotate(360deg);
    }
}
@keyframes translacaon{
    0%{
        transform: rotate(0deg) translate(280px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(280px) rotate(360deg);
    }
}
/*main -> principal*/
.titulo{
    font-size: 1.35rem;
    font-family: "Poppins",sans-serif;
    font-weight:300;
    margin-bottom: 1.2vh;
}
.meubau{
    display:flex;
    flex-wrap: wrap;
}
.meubau a{
    margin: 0.5vw;
}
.s1,.s2,.s3{
    width: 21vw;
    height: 14vw;
    border-radius: 1vw;
    cursor: pointer;
}
.s1{
    background:var(--secondary);
}
.s2{
    background:var(--accent);
}
.s3{
    background:var(--primary);
}
span{
    margin:15px;
}
/*media querie for computers*/
@media only screen and (max-width:900px) {
    /*computers*/
    #s123 {
      max-width: 450px;
      max-height:350px;
      width: 160%;
      height:28vh;
    }
    .text p{
        font-size:1rem;
    }
    .text h1{
        font-size:1.3rem;
    }
    .logo{
        width:2rem;
        height:2rem;
    }
    .a, .b, .c, .d {
        width: 3vw;
        height: 3vw;
    }
  }
  
@keyframes translacaom2{
    0%{
        transform: rotate(0deg) translate(40.8px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(40.8px) rotate(360deg);
    }
}
@keyframes translacaov2{
    0%{
        transform: rotate(0deg) translate(45px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(45px) rotate(360deg);
    }
}
@keyframes translacaot2{
    0%{
        transform: rotate(0deg) translate(60px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(60px) rotate(360deg);
    }
}
@keyframes translacaomar2{
    0%{
        transform: rotate(0deg) translate(70px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(70px) rotate(360deg);
    }
}
@keyframes translacaoj2{
    0%{
        transform: rotate(0deg) translate(85px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(85px) rotate(360deg);
    }
}
@keyframes translacaos2{
    0%{
        transform: rotate(0deg) translate(105px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(105px) rotate(360deg);
    }
}
@keyframes translacaou2{
    0%{
        transform: rotate(0deg) translate(122px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(122px) rotate(360deg);
    }
}
@keyframes translacaon2{
    0%{
        transform: rotate(0deg) translate(140px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(140px) rotate(360deg);
    }
}
  /*media queries for mobile*/
 @media only screen and (max-width:600px) {
    #s123 {
        width: 160%;
        height:22vh;
        border-radius:13px;
        margin:3px;
    }
    .a, .b, .c, .d {
        width: 4vw;
        height: 4vw;
    }
    .image img{ 
        max-width: 113%;
        max-height: 113%;
    }
    .text {
        padding-left: 1.3rem;
        width: 60%;
    }
    .titulo{
        margin-bottom: 2px;
    }
    .sol{
        width:60px;
        height:60px;
    }
    .mercurio{
        margin-top:30px;
        width:6px;
        height:6px;
        animation: translacaom2 infinite linear 6.3s;
    }
    .venus{
        margin-top:22px;
        width:10px;
        height:10px;
        animation: translacaov2 infinite linear 18.26s;
    }
     .terra{
        margin-top:21px;
        width:9px;
        height:9px;
        animation: translacaot2 infinite linear 26.13s;
     }
    .marte{
        margin-top:20px;
        width:8px;
        height:8px;  
        animation: translacaomar2 infinite linear 49.1s;
    }
    .jupiter{
        margin-top:15px;
        width:18px;
        height:18px;
        animation: translacaoj2 infinite linear  310.1s;
    }
    .anel_de_saturno{
        margin-top:15px;
        width:15px;
        height:6px;
        animation: translacaos2 infinite linear 712.6s;
    }
    .saturno{
        width:8px;
        height:8px;
    }
    .urano{
        margin-top:20px;
        width:11px;
        height:11px;
        animation: translacaou2 infinite linear 2136.8s;
        
    }
    .netuno{
        margin-top:20px;
        width:11px;
        height:11px;
        animation: translacaon2 infinite linear 4273.9s;
    }
    
 }