.caixa{
    display:flex;
    flex-direction: column;
    width: 100%;
    height:35vh;
    align-items: center;
    justify-content: space-evenly;
}
.caixa2{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
}
main{
    margin-left: 1vw;
    width: 100vw;
    height: calc(100vh - 20px);
    border-radius: 8px;
    padding:1vw 1.6vw;
    display:flex;
    align-items:center;
    justify-content: center;
    position:relative;
}
.blocoDeInformacao {
    overflow-y: auto;
    font-family: "Poppins";
    cursor: default;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 3;
    top: 44%;
    left: 50%;
    background-color: var(--blc);
    padding: 0.8rem 1.8rem;
    width: 30vw;
    border-radius: 34px;
    border: 1px solid #cecdcf;
    height: 79vh;
    min-width: 250px;
    min-height: 100px;
}
.sol button{
    border:inherit;
   border-radius:50%;
   width:100%;
   height:100%;
   background:transparent;
}
.blocoDeInformacao h2{
    margin: 0 auto;
    font-size: calc(1rem * 1.155);
}
.blocoDeInformacao p{
    font-size: calc(1rem * 0.89);
}
/* .imagem_info{
    
} */
.solInfo{
    font-family: "Poppins";
    font-size: calc(1rem *0.8);
    position: relative;
    top: -30px;
    left: 35%;
    display: none;
    color: var(--text);
    font-weight: 300;
    background-color: transparent;
}
.mercurioInfo,.venusInfo,.mercurioInfo,.terraInfo,.marteInfo,.jupiterInfo,.saturnoInfo,.uranoInfo,.netunoInfo{
    position: relative;
    font-family: "Poppins";
    font-size: calc(1rem *0.8);
    top: -18px;
    justify-content: center;
    display: none; 
    font-weight: 300;
    color: var(--text);
    background-color: transparent;
}
.pop_up_simuladores{
    cursor: default;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%); /* hummm */
    z-index: 1;
    top: 5.6vw;
    left: 50%;
    background-color: white;
    padding: 1rem;
    width: 25vw;
    border-radius: 10px;
    height: 2vw;
    min-width: 250px;
    min-height: 100px;
}
.pop_up_simuladores p{
    font-family: "Poppins";
    font-size: calc(1rem / 1.35);
}
.simuok{
    font-family: "Poppins";
    color: whitesmoke;
    position: absolute;
    bottom:12px;
    right: 12px;
    padding: 0.3rem 1.5rem;
    border:inherit;
    border-radius: 8px;
    background-color: #00bcd4;
    cursor: pointer;
}
#canvas2{  
    transform: rotate(-90deg);
    width: 500px;
    position:absolute;
    top: -100px;
    height: 800px;
}
.controle{
    height:100%;

}
.controle2{
    font-family:'Poppins', Courier, monospace;
    margin:2rem 0;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
label{
    display: inline-block;
}

.container{
    padding:30px 5px; 
    position: relative;
    width: 80%;
    height:100%;
    border-radius:0.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}
.configuracao{
    display:flex;
    justify-content: space-between;
    backdrop-filter: blur(50px);
    width:fit-content;
    border-radius:6px;
    height:10vh;
    position:fixed;
    bottom:12px;
    background:#e0e0e080;
    padding:6px;
    gap:6px;
    z-index:9999!important;
}
.configuracao div{
    width:8vw;
    border-radius:4px;
    font-weight:300;
    height:100%;
    backdrop-filter: blur(50px);
    text-align:center;
    cursor:pointer;
}
.t1{
    display:flex;
    justify-content: center;
    background: #f9fbff;
    text-align:center;
}
.t2{
     display:flex;
    justify-content: center;
    background: #f9fbff;
}
.t3{
    background: #050315;
    overflow:hidden;
    color:white;
}
.t4{
    background: #ff6a75;
}
.t5{
    background: #ffc535;
}
.t6{
    display:flex;
    justify-content:center;
}
.t6 button,.t5 button,.t4 a{
    background-color: transparent;
    border: inherit;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.t6 button img, .t5 button img{
    width: 2vw;
}
.t4 a img{
    width: 2vw;
}
.t7{
    overflow:hidden;
}
.t8{
    overflow:hidden;
}
.configuracao h6{
    font-family: "Poppins",sans-serif;
    font-size:0.8rem;   
    font-weight: 300;
}
/*header*/
.logo{
    width:2vw;
    height:2vw;
    border-radius:50%;
    margin-top: 1.3vw;
    cursor: pointer;
}
.btn,.btn2{
    width:100%;
    height:100%;
    font-family: "Poppins",sans-serif;
    cursor: pointer;
    border:none;
}
.btn:hover,.btn2:hover{
    transition: 0.2s;
    background-color: #c9ddfd;
    color:black;
}
.sp, .ap{
    position:absolute;
    z-index:1;
    color:black;
    opacity:0.5;
    cursor:default;
    text-align:center;
    font-size: calc(16px * 0.5);
}
.t7{
    display:flex;
    justify-content: center;
}
.np{
    position:absolute;
    z-index:1;
    color:black;
    opacity:0.8;
    cursor:default;
    font-size: calc(16px * 0.5);
}
.btn:active,.btn2:active{
    transform: scale(0.90);
}

.logo:hover{
    transition: 0.3s;
    transform: rotate(-360deg);
}
#corfixo{
    border-radius:4px;
}
.nuvem1, .nuvem2, .nuvem4, .nuvem5{
    transition:.3s;
    display: none;
    position:absolute;
    top: -120%;
    text-align: center;
    height:100%;
    opacity:0.8;
    width: max-content;
    background-color: black;
    backdrop-filter: blur(20px);
    text-align: center;
    padding: 10px;
    color:#f9fbff;
    border-radius: 6px;
    z-index: 1;
    transition: .2s;  
}
.t1:hover .nuvem1{
    display: flex;
}
.t2:hover .nuvem2{
    display: flex;
}
.t4:hover .nuvem4{
    display: flex;
}
.t5:hover .nuvem5{
    display:flex;
}

.nuvem1 p, .nuvem2 p, .nuvem4 p, .nuvem5 p{
    font-size: calc(18px * 0.55);
    font-family: "Poppins",sans-serif;
    color:#f9fbff;
}
.nuvem4 p{
    font-size: calc(21px * 0.55);
    margin: 5px;
}
.t1 input{
    cursor:pointer;
    width:100%;
    height:100%;
    position:relative;
    background:transparent;
    border:inherit;
    text-align: center;
}
.t2 input{
    cursor: pointer;
    width:100%;
    height:100%;
    position:relative;
    background:transparent;
    border:inherit;
    text-align: center;
}

header a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1.9rem;
    padding: 0.53vw;
}
header a:hover{
    background: var(--primary);
}
.a,.b,.c,.d{
    width:1.2vw;
    height:1.2vw;
}
.info{
    width: 4.4vw;
    border-radius: 30px;
    background: var(--accent);
}
.adicional{
    margin-bottom:1.3vw;
}
/*sistema solar*/
.container_do_sistema_solar{
    width:100%;
    display:flex;
    align-content:center;
    justify-content: center;
}
.container_do_sistema_solar button{
    cursor:pointer;
}
.sol{
    width:100px;
    height:100px;
    background:rgb(255, 174, 0);
    border-radius:50%;
}
.mercurio{
    margin-top:45px;
    position:absolute;
    width:10px;
    height:10px;
    background-image: linear-gradient(to bottom right,rgb(41, 40, 39), rgb(96, 12, 5));
    border-radius:50%;
    z-index:1;
    animation: translacaom infinite linear 6.3s;
}
/*ex: mercurio = 88 dias , converte para minutos e divide por dois*/
.venus{
    margin-top:45px;
    position:absolute;
    width:20px;
    height:20px;
    background-image: linear-gradient(to bottom right,rgb(213, 89, 0), rgb(172, 117, 15));
    border-radius:50%;
    z-index:1;
    animation: translacaov infinite linear 18.26s;
}
.terra{
    margin-top:42px;
    position:absolute;
    width:18px;
    height:18px;
    background-image: linear-gradient(to bottom right,rgb(0, 103, 213), rgb(15, 172, 15),rgb(0, 103, 213),rgb(0, 103, 213));
    border-radius:50%;
    z-index:1;
    animation: translacaot infinite linear 26.13s;
}
.marte{
    margin-top:40px;
    position:absolute;
    width:16px;
    height:16px;
    background-image: linear-gradient(to bottom right,rgb(213, 89, 0), rgb(172, 28, 15));
    border-radius:50%;
    z-index:1;
    animation: translacaomar infinite linear 49.1s;
}
.jupiter{
    margin-top:30px;
    position:absolute;
    width:36px;
    height:36px;
    background-image: linear-gradient(to bottom right,rgb(202, 202, 202), rgb(172, 112, 15),rgb(202, 202, 202));
    border-radius:50%;
    z-index:1;
    animation: translacaoj infinite linear  310.1s;
}
.anel_de_saturno{
    margin-top:30px;
    position:absolute;
    background: transparent;
    width:31px;
    z-index:2;
    height:12px;
    border-radius:50%;
    animation: translacaos infinite linear 712.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    border:4px solid rgb(169, 169, 169);
}
.saturno{
    width:17px;
    height:17px;
    background-image: linear-gradient(to bottom right,rgb(202, 202, 202), rgb(200, 153, 77),rgb(202, 202, 202));
    border-radius:50%;
}
.urano{
    margin-top:40px;
    position:absolute;
    width:23px;
    height:23px;
    background-image: linear-gradient(to bottom right, rgb(147, 188, 186),rgb(202, 202, 202));
    border-radius:50%;
    z-index:1;
    animation: translacaou infinite linear 2136.8s;
}
.netuno{
    margin-top:40.5px;
    position:absolute;
    width:22.5px;
    height:22.5px;
    background-image: linear-gradient(rgb(24, 38, 117),rgb(67, 98, 169));
    border-radius:50%;
    z-index:1;
    animation: translacaon infinite linear 4273.9s;
}
@keyframes translacaom{
    0%{
        transform: rotate(0deg) translate(60.8px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(60.8px) rotate(360deg);
    }
}
@keyframes translacaov{
    0%{
        transform: rotate(0deg) translate(85px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(85px) rotate(360deg);
    }
}
@keyframes translacaot{
    0%{
        transform: rotate(0deg) translate(115px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(115px) rotate(360deg);
    }
}
@keyframes translacaomar{
    0%{
        transform: rotate(0deg) translate(140px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(140px) rotate(360deg);
    }
}
@keyframes translacaoj{
    0%{
        transform: rotate(0deg) translate(170px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(170px) rotate(360deg);
    }
}
@keyframes translacaos{
    0%{
        transform: rotate(0deg) translate(210px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(210px) rotate(360deg);
    }
}
@keyframes translacaou{
    0%{
        transform: rotate(0deg) translate(245px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(245px) rotate(360deg);
    }
}
@keyframes translacaon{
    0%{
        transform: rotate(0deg) translate(280px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(280px) rotate(360deg);
    }
}
/*main -> principal*/
.titulo{
    font-size: 1.35rem;
    font-family: "Poppins",sans-serif;
    font-weight:300;
    margin-bottom: 1.2vh;
}
.meubau{
    display:flex;
    flex-wrap: wrap;
}
.meubau a{
    margin: 0.5vw;
}
.s1,.s2,.s3{
    width: 21vw;
    height: 14vw;
    border-radius: 1vw;
    cursor: pointer;
}
.s1{
    background:var(--secondary);
}
.s2{
    background:var(--accent);
}
.s3{
    background:var(--primary);
}
span{
    margin:15px;
}
/*media querie for computers*/
@media only screen and (max-width:900px) and (min-width:600px) {
    /*computers*/
    #s123 {
      max-width: 450px;
      max-height:350px;
      width: 160%;
      height:28vh;
    }
    .text p{
        font-size:1rem;
    }
    .text h1{
        font-size:1.3rem;
    }
    .logo{
        width:2rem;
        height:2rem;
    }
    .a, .b, .c, .d {
        width: 3vw;
        height: 3vw;
    }
    
  }
  
@keyframes translacaom2{
    0%{
        transform: rotate(0deg) translate(56.8px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(56.8px) rotate(360deg);
    }
}
@keyframes translacaov2{
    0%{
        transform: rotate(0deg) translate(70px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(70px) rotate(360deg);
    }
}
@keyframes translacaot2{
    0%{
        transform: rotate(0deg) translate(90px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(90px) rotate(360deg);
    }
}
@keyframes translacaomar2{
    0%{
        transform: rotate(0deg) translate(100px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(100px) rotate(360deg);
    }
}
@keyframes translacaoj2{
    0%{
        transform: rotate(0deg) translate(85px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(85px) rotate(360deg);
    }
}
@keyframes translacaos2{
    0%{
        transform: rotate(0deg) translate(105px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(105px) rotate(360deg);
    }
}
@keyframes translacaou2{
    0%{
        transform: rotate(0deg) translate(122px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(122px) rotate(360deg);
    }
}
@keyframes translacaon2{
    0%{
        transform: rotate(0deg) translate(140px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(140px) rotate(360deg);
    }
}
  /*media queries for mobile*/
 @media only screen and (max-width:600px) {
    #s123 {
        width: 160%;
        height:22vh;
        border-radius:13px;
        margin:3px;
    }
    .a, .b, .c, .d {
        width: 4vw;
        height: 4vw;
    }
    .image img{ 
        max-width: 113%;
        max-height: 113%;
    }
    .text {
        padding-left: 1.3rem;
        width: 60%;
    }
    .titulo{
        margin-bottom: 2px;
    }
    .sol{
        width:90px;
        height:90px;
    }
    .mercurio{
        margin-top: 40px;
        width:7px;
        height:7px;
        animation: translacaom2 infinite linear 6.3s;
    }
    .venus{
        margin-top:40px;
        width:10px;
        height:10px;
        animation: translacaov2 infinite linear 18.26s;
    }
     .terra{
        margin-top:37px;
        width:9px;
        height:9px;
        animation: translacaot2 infinite linear 26.13s;
     }
    .marte{
        margin-top:30px;
        width:8px;
        height:8px;  
        animation: translacaomar2 infinite linear 49.1s;
    }
    .jupiter{
        margin-top:15px;
        width:18px;
        height:18px;
        animation: translacaoj2 infinite linear  310.1s;
    }
    .anel_de_saturno{
        margin-top:15px;
        width:15px;
        height:6px;
        animation: translacaos2 infinite linear 712.6s;
    }
    .saturno{
        width:8px;
        height:8px;
    }
    .urano{
        margin-top:20px;
        width:11px;
        height:11px;
        animation: translacaou2 infinite linear 2136.8s;
        
    }
    .netuno{
        margin-top:20px;
        width:11px;
        height:11px;
        animation: translacaon2 infinite linear 4273.9s;
    }
    
 }