
  @import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Diplomata+SC&family=K2D:wght@100;200;300&family=Open+Sans:wght@600&family=Poppins&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300&display=swap');
/* reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*:root{
    --text: #0a0623;
    --background: #DFEBFF;
    --background2: #c9ddfd;
    --primary: #1a6da8;
    --secondary: #a394fa;
    --accent: #57b41d;
}*/

:root{

    --sistemasolar: #9F2850;
    --text: #16061d;
    --background2: #F5E1F1;
    --primary: #863DCF;
    --secondary: #E28ABF;
    --accent: #D86189;
    --background: #FAF7FD;  
    --latestBackground: #ffffff30;
    --c: url("../model/icons/c.png");
}
.dark-mode{
    --text:#F2E1F9;
    --background2: #1F0A1B;
    --primary: #863DCF;
    --secondary: #761E53;
    --accent: #9F2850;
    --background: #19081d;
    
}
.light-mode{
    --texto: #1 0041b;
    --fundo: #f9f3fd;
    --primário: #9533e4;
    --secundário: #f0958d;
    --acento: #e8a750;
}
body{
    background-color: var(--background);
    padding: 10px;
    display: flex;
    cursor: crosshair;
    overflow-y: auto;
    position:relative;/*24/02*/
    z-index:2;
}
.latest {
    color:rgb(10, 1, 31);
    cursor: pointer;
    position:absolute;
    top:3.2vw;
    font-family:'Poppins';
    right: 4vw;
    padding: 0.1rem 0.5rem;
    border: 1px solid #c5a4e6db;
    width: fit-content;
    border-radius: 0.5rem;
    background: var(--latestBackground);
    transition: opacity ease 0.3s;
    font-size: calc(0.8rem / 1.333);
    opacity: 100%;
    z-index: 1;
}
.latest:hover{
    transition: .3s;
    background:#efdbf4;
}
header {
    min-width: 55px;
    width: 6vw;
    height: calc(100vh - 20px);
    background-color: var(--background2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.4vw;
}

main{
    margin-left: 1vw;
    width: 100vw;
    height: calc(100vh - 20px);
    background-color: var(--background2);
    border-radius: 8px;
    padding:6px 1.6vw;
}
.container{
    position: relative;
    width: 100%;
}
/*header*/
.logo{
    width:2vw;
    height:2vw;
    border-radius:50%;
    margin-top: 1.3vw;
    cursor: pointer;
}
header a{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    border-radius: 1.9rem;
    padding: 0.53vw;
}

header a:hover{
    background: var(--primary);
}
.caixa{
    display:flex;
    flex-direction: column;
    height: 35vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

}

.a,.b,.c,.d{
    width:1.2vw;
    height:1.2vw;
}
.c{
    background-image: var(--c);
    background-position: center;
}


.logo{
    animation: animacao 6s infinite;
}
.pagvisivel{
    background-color: var(--primary);
}
.info{
    width: 4.4vw;
    border-radius: 30px;
    background: var(--accent);
}
.adicional{
    margin-bottom:1.3vw;
}
/*main -> principal*/
.titulo{
    font-size: 1.4rem;
    font-family: "Poppins",sans-serif;
    font-weight:300;
    margin-left: 0.4vw;
    margin-top:0.5rem;
}

.meubau{
    display:flex;
    flex-wrap: wrap;
    width: 60%;
}
.meubau a{
    margin: 0.8vw 0.4vw;
}
a:focus{ 
    transform: scale(0.98);
}
#s123{
    width: 22vw;
    height: 14vw;
    border-radius: 1vw;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: "Poppins",sans-serif;
    object-fit: cover;
    padding: 0.2rem;
    padding-left: 1rem;
}
.image,.image2{
    width: 40%;
    height: 70%;
    align-items: center;
}
.image img{
    max-width: 100%;
    max-height: 100%;
} 
.setas{
    max-height:80%;
    max-width: 80%;
}
.s1{
    background:var(--secondary);
    color: var(--text);
}
.s2{
    background:var(--accent);
    color: var(--text);
}
.s3{
    background:var(--primary);
    color: var(--background);
}
#s123:hover .image img{
    transition: .3s;
    transform: rotate(10deg);
}
.text{
    text-align: start;
    padding-left: 0.7rem;
    width: 57%;
}
.text :hover{
    opacity: 0.8;
}
.text h1{
    font-size: 1.25rem;
    font-weight: 300;
}
.text p{
    font-size: 0.8rem;
}

@keyframes animacao{
    0%{
        transform: rotate(0deg);
    }
    27%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.pi{
    width: 64%;
    margin-top:2vw;
    margin-left: 2vw;
}
/*media querie for computers*/
  @media only screen and (max-width: 1000px) {
    /*computers*/
    #s123 {
      border-radius: 15px;
      max-width: 450px;
      max-height:350px;
      width: 150%;
      height: 26vh;
    }
    .text p{
        font-size:1rem;
    }
    .text h1{
        font-size: 1.1rem;
        font-weight:500;
    }
    .logo{
        width:2rem;
        height:2rem;
    }
    .a, .b, .c, .d {
        width: 2.2vw;
        height: 2.2vw;
    }
    .container{
        min-height: 100vh;
        overflow: auto;
    }
  }
  /*media queries for mobile*/
 @media only screen and (max-width:600px) {
    body{
        flex-direction:column;
        padding:12px;
    }
    .latest{
       position:static;
       margin-top: 2vw;
    }
    header{
        height:10vh;
        width:100%;
        margin-bottom: 8px;
        flex-direction: row;
        padding:0.8rem;
    }
    main{
        width: 100%;
        margin:0;
    }
    header a{
        width:10vw;
    }
    .caixa{
        flex-direction: row;
        width:60%;
    }
    #s123 {
        width: 160%;
        height:28vh;
        border-radius:13px;
        margin:3px;
    }
    .a, .b, .c, .d {
        width: 3.5vw;
        height: 3.5vw;
    }
    .image img{ 
        max-width: 113%;
        max-height: 113%;
    }
    .text {
        padding-left: 1.3rem;
        width: 60%;
    }
    .titulo{
        margin-bottom: 2px;
    }
    .pi{
        max-width: 100%;
        max-height: 100%;
        margin: inherit;
    }
 }
 @media (min-width: 1600px) {
    .text h1{
        font-size: calc(1.25rem/0.8);
        font-weight: 300;
    }
    .text p{
        font-size: calc(0.8rem/0.8);
    }
 }