<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/simuladores.css">
    <link rel="stylesheet" href="../../assets/style.css">
    <title>SSI - Sistema Solar</title>
</head>
<body onload="init()">
    <header>
        <!-- Todo o código do header/nav aqui...por favor -->
        <img src="../../model/icons/logo.png" alt="logo do site" class="logo">
        <div class="caixa">
            <a href="../../index.html"><img src="../../model/icons/a.png" class="a"></a>
            <a href="../calculadora.html"><img src="../../model/icons/b.png" class="b"></a>
            <a href="../informacoes.html"><img src="../../model/icons/c.png" class="c"></a>
        </div>
        <div class="adicional">
            <a href="" class="info"><img src="../../model/icons/d.png" alt="link 4" class="d"></a>
        </div>
    </header>
    <main>
        
    </main>
</body>
</html>