<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/paginasInformacionais.css">
        <link rel="stylesheet" href="../../assets/style.css">
        <title>SSI</title>
    </head>
    <body>
        <div class="loader" id="loader">
        </div>
        <header>
            <!-- Todo o código do header/nav aqui...por favor -->
            <img src="../../model/icons/logo.png" alt="logo do site" class="logo">
            <div class="caixa">
                <a href="../../index.html" ><img src="../../model/icons/a.png" alt="link 1" class="a"></a>
                <a href="../calculadora.html"><img src="../../model/icons/b.png" alt="link 2" class="b"></a>
                <a href="../informacoes.html"class="pagvisivel"><img src="../../model/icons/c.png" alt="link 3" class="c"></a>
            </div>
            <div class="adicional">
                <a href="#" class="info"><img src="../../model/icons/d.png" alt="link 4" class="c"></a>
            </div>
        </header>
        <main class="container4">
            <h1>O que é MHS?</h1>

                <p>O movimento harmônico simples é o movimento oscilatório periódico ocorrido<br> 
                quando a aceleração e a força resultante são proporcionais e opostas ao deslocamento.<br>
                É um tipo de frequência do movimento, onde oscila a massa.<br><br><br><br>
                O movimento harmônico simples (MHS) é um movimento periódico que acontece<br>
                exclusivamente em sistemas conservativos - aqueles em que não há ação de forças dissipativas.<br></p>

                    <a href="../informacoes.html"><button class="but">Voltar</button></a> 
             
        </main>
    </body>
</html>
